table{
  border-collapse: collapse;
  border: 1px solid black;
  width: 600px;
  text-align: left;
  margin: 20px;
}
table td{
  padding: 20px;
  border: 1px solid black;   
}
table th{
  background-color: #d6d6d6;
  padding: 20px;
  border: 1px solid black;    
}
